.home form {
  margin: 2rem 1rem;
}

.home h2 {
  margin-left: 2.4rem;
}

.home ul {
  list-style: none;
  display: flex;
  margin-bottom: 3rem;
}

.home li {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.home .link {
  color: #000;
  text-decoration: none;
}

@media (width <=650px) {
  .home ul {
    display: flex;
    flex-direction: column;
  }

  .home li {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}
